.area{
    font: normal 20pt;
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div{
    margin-top: 20px;
}

.res{
    margin-top: 20px;
}